<ul class="list list-inline">
    <li class="list__item">
      <a href="" class="link link-nav link-dblue">Feature</a>
    </li>
    <li class="list__item">
      <a href="" class="link link-nav link-dblue">Feature</a>
    </li>
    <li class="list__item">
      <a href="" class="link link-nav link-dblue">Feature</a>
    </li>
  </ul>
 
  <ul class="list list-footer">
    <li class="list__item">
      <a href="" class="link link-nav link-dblue">Feature</a>
    </li>
    <li class="list__item">
      <a href="" class="link link-nav link-dblue">Feature</a>
    </li>
    <li class="list__item">
      <a href="" class="link link-nav link-dblue">Feature</a>
    </li>
  </ul>
   
  <ul class="list list-footer">
    <li class="list__item list__icon flex">
      <svg class="icon">
        <use xlink:href="./sprites/sprite.svg#icon-phone"></use>
      </svg>
      <a href="#" class="link link-nav link-dblue">Phone</a>
    </li>
    <li class="list__item list__icon flex">
      <svg class="icon">
        <use xlink:href="./sprites/sprite.svg#icon-email"></use>
      </svg>
      <a href="#" class="link link-nav link-dblue">Mail</a>
    </li>
  </ul>

  <a href="" class="link link-underline link-arrow">
    See how Fylo works
  </a>