<div class="section block grid grid-1x2 gap" style="--col-gap: 0; --row-gap: 2rem; --padding-inline: 3rem">
    <div class="section-logo">
      <img src="./images/illustration-1.svg" alt="illustration-1">
    </div>
    <div class="section-body grid gap">
      <h1>All your files in one secure location, accessible anywhere.</h1>
      <p>Fylo stores your most important files in one secure location. 
        Access them wherever you need, share and collaborate with friends, 
        family, and co-workers.</p>
    </div>
    <div class="section-action">
      <form class="form flex gap" method="post" novalidate style="--row-gap: 1rem;">
        <label class="input-container flex" for="email">
          <input class="input" id="email" name="email" type="email" placeholder="Enter your email" required>
          <span class="input-message">Enter your email</span>
        </label>
        <button class="btn btn-blue btn-block">Get Started</button>
      </form>
    </div>
  </div>

  <div class="section section-bg block grid grid-1x2 gap text-left" style="--col-gap: 0; --row-gap: 2rem; --padding-inline: 3rem">
    <div class="section-logo">
      <img src="./images/illustration-1.svg" alt="illustration-1">
    </div>
    <div class="section-body grid gap">
      <h1>All your files in one secure location, accessible anywhere.</h1>
      <p>Never let location be an issue when accessing your files. Fylo has you 
        covered for all of your file storage needs.</p>
      <p>Securely share files and folders with friends, family and colleagues for 
        live collaboration. No email attachments required!</p>
    </div>
    <div class="section-action">
      <a href="" class="link link-underline link-arrow">
        See how Fylo works
      </a>
    </div>
    <div class="testimonial">
      <p class="testimonial__text">Fylo has improved our team productivity by an order of magnitude. Since 
        making the switch our team has become a well-oiled collaboration machine.
        </p>
      <div class="testimonial-profile flex">
        <img src="./images/avatar-testimonial.jpg" alt="Avatar" class="testimonial__avatar">
        <div class="testimonial-title">
          <p class="testimonial-name">Kyle Burton</p>
          <span class="testimonial-job">Founder & CEO, Huddle</span>
        </div>
      </div>
    </div>
  </div>

  <div class="section block block-light-blue grid grid-1x2 gap" style="--col-gap: 5rem; --row-gap: 2rem; --padding-inline: 5rem">
    <div class="section-body grid gap" style="--row-gap: 2rem;">
      <h1 class="text-white">Get early access today</h1>
      <p class="text-white">It only takes a minute to sign up and our free starter tier is extremely generous. 
        If you have any questions, our support team would be happy to help you.</p>
    </div>
    <div class="section-action">
      <form class="form grid gap" method="post" novalidate style="--row-gap: 1.5rem;">
        <label class="input-container flex" for="email">
          <input class="input" id="email" name="email" type="email" placeholder="Enter your email" required>
          <span class="input-message">Enter your email</span>
        </label>
        <button class="btn btn-blue btn-block">Get Started For Free</button>
      </form>
    </div>
  </div>