<div class="testimonial">
    <p class="testimonial__text">Fylo has improved our team productivity by an order of magnitude. Since 
      making the switch our team has become a well-oiled collaboration machine.
      </p>
    <div class="testimonial-profile flex">
      <img src="./images/avatar-testimonial.jpg" alt="Avatar" class="testimonial__avatar">
      <div class="testimonial-title">
        <p class="testimonial-name">Kyle Burton</p>
        <span class="testimonial-job">Founder & CEO, Huddle</span>
      </div>
    </div>
  </div>